.saved-chat-item {
    cursor: pointer;
    padding: 0 !important;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #f5f5f5; // Light gray background on hover
    }

    .saved-chat-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-weight: 400;
    }

    .delete-chat {
        transition: all 0.2s ease-in-out;
        // Style the delete link
        color: #ff4d4d; // Red color for delete
        font-weight: bold;
        margin-right: 8px;
        font-size: 20px;
        opacity: 0.2;

        &:hover {
            opacity: 1; // Reduce opacity on hover
        }
    }
}