.research-component {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  form {
    display: flex;
    gap: 10px;
  }

  input[type="text"] {
    flex-grow: 1;
  }

  button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .error {
    color: red;
    margin: 10px 0;
  }

  .results {
    margin-top: 20px;

    h2,
    h3 {
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      list-style-type: none;
      padding: 0;
      padding-left: 20px;

      li {
        margin-bottom: 5px;

        a {
          color: #0066cc;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            border-bottom: 1px solid #0066cc;
          }
        }
      }
    }
  }

  .show-more-sources {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
      /* Darker blue on hover */
    }
  }

  .search-history {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        cursor: pointer;
        margin-bottom: 5px;
        color: #0066cc;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}