.research-component {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  form {
    display: flex;
    gap: 10px;
  }

  input[type="text"] {
    flex-grow: 1;
  }

  button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .error {
    color: red;
    margin: 10px 0;
  }

  .results {
    margin-top: 20px;

    h2,
    h3 {
      margin-bottom: 10px;
      color: #333;
    }

    pre {
      background-color: #adaeaf;
      padding: 10px;
      margin: 10px 0;
      border-radius: 4px;
      font-family: monospace;
      white-space: pre-wrap;
      /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */

    }

    .meta-summary {
      box-shadow: 0 2px 4px rgba(9, 199, 25);
      margin-bottom: 50px;
      padding: 10px;
      border-radius: 5px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      a {
        color: #0066cc;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #0066cc;
        }
      }

      // box shadow color should be alternate, depending on whether it's even or odd
      .result:nth-child(even) {
        background-color: #f2f2f2;
        border-color: #e98b8b;
        box-shadow: 0 2px 4px #e98b8b, inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      }

      .result:nth-child(odd) {
        background-color: #fff;
        border-color: #6060db;
        box-shadow: 0 2px 4px #6060db, inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      }

      .result {
        margin-bottom: 50px;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

  .show-more-sources {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
      /* Darker blue on hover */
    }
  }

  .search-history {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        cursor: pointer;
        margin-bottom: 5px;
        color: #0066cc;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}