.file-tree {
  font-family: sans-serif;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // margin-left: 15px;

    li {
      position: relative;
      padding: 0px 0;
      margin-left: 12px;

      .node {
        position: relative;
        cursor: pointer;
        padding: 3px 10px;
        display: flex;
        align-items: center;
        z-index: 1;

        &:hover {
          &::before { // Use a pseudo-element for the background
            content: "";
            background-color: #e0dcdc;
            position: absolute;
            left: -200px;
            right: -200px;
            top: 0px;
            bottom: -2px;
            z-index: -1;
          }
        }

        &.directory {
          // font-weight: bold;

          &.expanded {
            .arrow {
              transform: rotate(90deg);
              top: -2px;
              left: -12px;
            }
          }
        }

        &.file {
          font-weight: normal;
        }

        &.selected {
          // background-color: #eee;
        }

        .name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }        

        .arrow {
          // transition: all 0.2s ease-in-out;
          position: absolute;
          left: -10px;
          top: 2px;
          font-size: 25px;

          &.down {
            transform: rotate(90deg);
          }
        }

        .checkbox {
          margin-right: 10px;
        }
      }
    }
  }
}