.saved-plan-item {
    cursor: pointer;
    padding: 0 !important;

    &:hover {
        background-color: #f5f5f5; // Light gray background on hover
    }

    .saved-plan-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-weight: 400;

        &.active-plan-item {
            color: #8670ff;
        }
    }

    .saved-plan-title-input {
    }

    .delete-plan {
        transition: all 0.2s ease-in-out;
        // Style the delete link
        color: #ff4d4d; // Red color for delete
        font-weight: bold;
        font-size: 20px;
        opacity: 0.2;

        &:hover {
            opacity: 1; // Reduce opacity on hover
        }
    }

    .edit-plan {
        transition: all 0.2s ease-in-out;
        // Style the delete link
        color: #3d659c; // Red color for delete
        font-weight: bold;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 20px;
        opacity: 0.2;

        &:hover {
            opacity: 1; // Reduce opacity on hover
        }
    }
}
