.file-viewer {
    width: 100%;
    height: 100%;
    display: flex;
}

.file-tree {
    position: relative;
    height: 100%;
    color: #ccc;
    background-color: #141414;
}

.file-content {
    position: relative;
    height: 100%;
    color: #ccc;
    background-color: #1e1e1e;
}

.splitter {
    background-color: #ccc;
    width: 4px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    z-index: 1;
}

.splitter:hover {
    background-color: #5f6772;
    width: 8px;
    cursor: col-resize;
}

.breadcrumbs {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e1e1e;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Vertically align items to the center */
}

.breadcrumbs span {
    color: #ccc;
    font-size: 14px;
}
