.tree ul {
  padding-inline-start: 10px;
  width: 100%;
}

.tree li {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.tree-node {
  cursor: pointer;
  position: relative;
}

.tree-node {
  padding: 4px 0px;
  width: 100%;
}

.tree-node--selected,
.tree-node:hover {
  background: rgba(131, 131, 131, 0.3);
}

.checkbox-icon {
  margin: 0 5px;
  vertical-align: middle;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  vertical-align: middle;
}

.arrow--open {
  transform: rotate(90deg);
}

.arrow-icon {
  position: absolute;
  left: -15px;
  top: 8px;
}