.Animations {
    display: flex;
    height: 100vh;

    .current-animation {
        flex: 1;
        display: flex;
        flex-direction: column;

        .current-animation-title {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
        }
    }

    .animations-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        overflow-y: auto;

        li {
            padding: 10px;
            border-radius: 5px;
            background-color: #f0f0f0;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }
}