.tree ul {
  padding-inline-start: 10px;
  width: 100%;
}

.tree li {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.tree-node {
  cursor: pointer;
  position: relative;
}

.tree-node {
  padding: 4px 0px;
  width: 100%;
}

// .tree-node--selected,
// .tree-node--half-selected
.tree-node:hover {
  background: rgba(131, 131, 131, 0.3);
}

.tree-node--file {
  // background-color: rgb(108, 108, 108);
}

.tree-node--directory {
  background-color: rgb(108, 108, 108);
}

.tree-node--active {
  background: rgba(180, 180, 255, 0.5); /* Light blue background */
  font-weight: 600;                   /* Slightly bolder text */
  // Add any other styles you like, e.g., border, box-shadow, etc. 
}

.tree-node--expanded {

}

.tree-node--collapsed {

}

.checkbox-icon {
  margin: 0 5px;
  vertical-align: middle;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  vertical-align: middle;
}

.arrow--open {
  transform: rotate(90deg);
}

.arrow-icon {
  position: absolute;
  left: -15px;
  top: 8px;
}

.search-container {
  // position: fixed;
  // top: 10px;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  display: flex; /* Use flexbox to align items in a row */
  flex-direction: column;
  align-items: center; /* Vertically align items to the center */
}

.breadcrumbs span {
  color: #ccc;
  font-size: 14px;

  &:hover {
      color: #ffffff;
      transition: color 0.3s ease-in-out;
  }
}